html {
		position: relative;
		min-height: 100%;
}

body {
		/* Margin bottom by footer height */
		margin-bottom: 100px;
		background-color: #b3d9ff;
		background-position: left top;
		background-repeat: no-repeat;
}

.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 100px;
		background-color: #f5f5f5;
		padding-top: 20px;
}

.bar {
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 80px;
}

.footer p {
		display: block;
}

.btn-space {
    margin-right: 20px;
}

.btn-xlarge {
    padding: 8px 25px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #rgba(0, 0, 0, 0.15);
    color: #rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 10px;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}


#toc_container {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 20;
    margin-bottom: 1em;
    padding: 12px;
    width: auto;
    color:black;
}

.toc_title {
    font-size: 20px;
    text-align: left;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}


a {
    color: #061070;
}

div.research {
 background: rgba(0, 0, 0, 0.15); 
 padding: 10px 30px; 
 margin-top:20px; 
 margin-bottom:20px;
 width:65%;
}  
